/* Utilites */

.card {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.875rem;
  text-align: center;
  background-color: white;
}

/* Class Styles */

.page {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--bg-neutral-200);
  color: var(--clr-primary-900);
}

.content {
  padding: 1rem;
}

.content__site-info {
  flex-direction: column;
}

.content__site-description > h1 {
  margin-bottom: 1rem;
  font-size: 36px;
}

.content__site-description > p {
  margin-bottom: 1rem;
}

.content__image > img {
  border-radius: 0.875rem;
}

.content__feature-info {
  flex-direction: column;
}

.content__feature-description > h2 {
  margin-bottom: 1rem;
}

.content__feature-description > p {
  margin-bottom: 1rem;
}

.content__links a {
  padding: 0.75rem;
  text-decoration: none;
  border-radius: 0.875rem;
  background-color: var(--bg-primary-500);
  color: var(--clr-neutral-300);
}

.content__links a:hover {
  background-color: var(--bg-primary-400);
  color: var(--clr-primary-700);
}

@media (min-width: 800px) {
  .content {
    justify-self: center;
    align-self: center;
  }

  .content__site-info {
    flex-direction: row;
  }

  .content__site-description {
    width: 100%;
  }

  .content__image > img {
    max-width: 500px;
  }

  .content__feature-info {
    flex-direction: row;
  }

  .content__feature-description {
    width: 100%;
    margin: 1rem;
  }
}
