:root {
  --bg-primary-gradient: linear-gradient(to right, #1e3a8a, #60a5fa);

  --bg-primary-400: #b0cdf4;
  --bg-primary-500: #60a5fa;
  --bg-primary-700: #172554;

  --bg-neutral-100: #ffffff;
  --bg-neutral-200: #eff6ff;

  --clr-primary-700: #172554;
  --clr-primary-900: #101010;

  --clr-neutral-200: #ffffff;
  --clr-neutral-300: #eff6ff;
  --clr-neutral-400: #dbeafe;

  --clr-error-msg: #ee2e2e;

  --ff-primary: Verdana, Geneva, Tahoma, sans-serif;
  --ff-secondary: Arial, Helvetica, sans-serif;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  height: 100vh;
  background-color: var(--bg-neutral-200);
  color: var(--clr-primary-900);
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

/* General Styles */

header {
  padding: 2rem;
  position: sticky;
  top: 0px;
  z-index: 1000;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

footer {
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary-700);
  color: var(--clr-neutral-300);
  font-family: var(--ff-secondary);
}

footer a,
footer a:visited {
  text-decoration: none;
  color: var(--clr-neutral-300);
}

footer a:hover {
  text-decoration: underline;
}

/* Utilities */

.flex {
  display: flex;
}

/* Class Styles */

.page {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  justify-content: space-around;
  align-items: center;
  background: var(--bg-primary-gradient);
  font-family: var(--ff-primary);
}

.header a {
  color: var(--clr-neutral-300);
}

.header__title {
  font-size: 20px;
}

.header__title > a {
  text-decoration: none;
}

.header__links {
  flex-direction: column;
  font-size: 14px;
}

.header__links > a {
  color: var(--clr-neutral-400);
}

.header__links > a:hover {
  color: var(--clr-neutral-200);
}
